* {
            box-sizing: border-box;
        }
        .row {
            margin-left: 20%;
            width:55%;
            background-color: beige;
            border: 1px solid beige;
            border-radius: 15px 30px;
            box-shadow: 5px 10px rgba(255,255,255,0.5);
            
        }
        .row:after,
        .row:before {
            content: "";
            display: table;
            clear: both;
        }

html {
    background-color: black;
}

h1 {
    font-family:'Optmia';
    margin-left: 2%;
}

h3 {
    margin-left: 5%;
    text-decoration: underline;
}

h4 {
    margin-left: 8%;
}
